ornl/_version.py export-subst
tests/data/drtsans-data/ornl/sans/sns/eqsans/EQSANS_88565.nxs.h5 filter=lfs diff=lfs merge=lfs -text
tests/data/drtsans-data/ornl/sans/sns/eqsans/EQSANS_92353.nxs.h5 filter=lfs diff=lfs merge=lfs -text
tests/data/drtsans-data/ornl/sans/sns/eqsans/test_normalization/beam_profile_flux.txt filter=lfs diff=lfs merge=lfs -text
tests/data/drtsans-data/ornl/sans/sns/eqsans/test_normalization/flux_to_monitor_ratio.nxs filter=lfs diff=lfs merge=lfs -text
tests/data/drtsans-data/ornl/sans/sns/eqsans/EQSANS_92160.nxs.h5 filter=lfs diff=lfs merge=lfs -text
