ci:
  autofix_prs: true
  skip: [pixi-lock-check]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=2048"]
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: sort-simple-yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args: [--no-cache, --fix, --exit-non-zero-on-fix]
        exclude: |
          notebooks/
          tests/examples/
      - id: ruff-format
        args: [--no-cache]
        exclude: |
            notebooks/
            tests/examples/
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
    - id: nbstripout
  - repo: local
    hooks:
      - id: pixi-lock-check
        name: pixi-lock-check
        entry: bash -c "PATH=$HOME/.pixi/bin:$PATH pixi lock --check"
        stage: pre-push
        language: system
