# INSTALL THE requirements.txt AS WELL


# for linting and formatting
autopep8
black

build
check-wheel-contents
flake8
jinja2
pre-commit
pytest >= 3.2
pytest-runner
pytest-xdist
sphinx
sphinxcontrib-napoleon
